<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <h1 class="text-uppercase mb-4">Reseteo de contraseña</h1>

        <p>Pasa en la vida, pasa en las películas: A todos se nos olvida la contraseña.</p>

        <p>No te preocupes: Ingresa tu correo de registro. A tu correo de registro llegará un mensaje con instrucciones para resetear tu contraseña.</p>

        <form [formGroup]="form" (ngSubmit)="sendResetEmail()">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control"
              placeholder="ejemplo@mail.com" formControlName="email"
              [ngClass]="{'is-invalid':email.touched && email.invalid,'is-valid':email.valid}"/>
            <div class="invalid-feedback d-block" *ngIf="email.touched && email.hasError('required')">
              Este campo es obligatorio
            </div>
            <div class="invalid-feedback d-block" *ngIf="email.touched && email.hasError('email')">
              El correo introducido es inválido
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="form.invalid">
              Enviar correo
            </button>
           </div>
        </form>
      </div>
    </div>
  </div>
</div>
