<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand text-uppercase" href="#" [routerLink]="['/home']">
    My Movie Collection
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleCollapse()"
    [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <!-- Con registro -->
    <ul class="navbar-nav ml-auto" *ngIf="user$ | async as user; else logout">
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="closeIsNotCollapsed()">
          {{user?.email}}
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="logOut()">
          Cerrar Sesión
        </a>
      </li>
    </ul>
    <ng-template #logout>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" [routerLink]="['/sign-in']"
            [routerLinkActive]="['active']" (click)="closeIsNotCollapsed()">
            Iniciar sesión
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" [routerLink]="['/register']"
          [routerLinkActive]="['active']" (click)="closeIsNotCollapsed()">
            Registrarse
          </a>
        </li>
      </ul>
    </ng-template>
    <!-- Sin registro -->
    <!--
    <span *ngIf="user$">
      {{user$ | async | json}}
    </span>
    -->
  </div>
</nav>
